<a href="https://colab.research.google.com/github/YangNakyung/Firstcode/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To-do List를 작성하시오.
-2023년 10월 19일 양나경
- (1) 09:20 도서관에서 책 빌리기
- (2) 11:20 컴퓨팅적사고와 기초코딩 수업
- (3) 13:00 점심식사
- (4) 14:10 교양수업
- (5) 16:00 파이썬 공부 및 레포트 작성
- (6) 17:40 저녁식사 및 집안일 돕기
- (7) 19:00 LOL하기

In [ ]:
print("To-do List를 작성하시오.") # To-do List 제목 출력
print("2023년 10월 19일 양나경")  # 날짜와 이름 출력 # 각 항목들을 출력
print("(1)09:20 도서관에서 책 빌리기")
print("(2)11:20 컴퓨팅적사고와 기초코딩 수업")
print("(3)13:00 점심식사")
print("(4)14:10 교양수업")
print("(5)16:00 파이썬 공부 및 레포트 작성")
print("(6)17:40 저녁식사 및 집안일 돕기")
print("(7)19:00 LOL하기")

To-do List를 작성하시오.
2023년 10월 19일 양나경
(1)09:20 도서관에서 책 빌리기
(2)11:20 컴퓨팅적사고와 기초코딩 수업
(3)13:00 점심식사
(4)14:10 교양수업
(5)16:00 파이썬 공부 및 레포트 작성
(6)17:40 저녁식사 및 집안일 돕기
(7)19:00 LOL하기

2. 인사말 출력하기

- 식사하셨습니까? 행님

In [ ]:
print("2.인사말 출력하기") # 제목 출력
print("-식사하셨습니까? 행님")  # 인사말 출력

2.인사말 출력하기
-식사하셨습니까? 행님

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
- 박보검: 90점
- 션: 92점
- 도룡용: 80점
- 차은우: 99점
- 국어 점수 순위
- 1등 차은우
- 2등 션
- 3등 박보검
- 4등 도룡용

In [ ]:
print("3.학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.")  # 각 학생의 국어 점수 입력 받기
n1=(input("박보검의 값을 입력하시오.:"))
n2=(input("션의 값을 입력하시오.:"))
n3=(input("도룡용의 값을 입력하시오.:"))
n4=(input("차은우의 값을 입력하시오.:"))   # 순위와 점수 출력 (순위는 사용자가 직접 입력)
print("1등 차은우",n4,"점")
print("2등 션",n2,"점")
print("3등 박보검",n1,"점")
print("4등 도룡용",n3,"점")

3.학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
박보검의 값을 입력하시오.:90
션의 값을 입력하시오.:92
도룡용의 값을 입력하시오.:80
차은우의 값을 입력하시오.:99
1등 차은우 99 점
2등 션 92 점
3등 박보검 90 점
4등 도룡용 80 점

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [ ]:
print("4.두개의 점수를 입력받아서 합계와 평균을 출력하시오.")  # 두 점수 입력 받기
n1=int(input("n1의 값을 입력하시오.:"))
n2=int(input("n2의 값을 입력하시오.:"))
total=n1+n2
average=total/2  # 평균 계산
print(average)  # 평균 출력

4.두개의 점수를 입력받아서 합계와 평균을 출력하시오.
n1의 값을 입력하시오.:78
n2의 값을 입력하시오.:35
56.5